<applet
 code="com.joot.jigo.replayer.Replayer"
 archive="jars/replayer.jar"
 width="630"
 height="429">
<!-- ===================================================================
     JiGo Replayer - A Go Game Study Tool
     Copyright 2010 by White Magic Software, Ltd.
     =================================================================== -->

<!-- ===================================================================
     The Root Directory is where Go games are stored on the web server,
     as accessed via the web. This can either be the full path on the
     web server to the games, or a relative path from the directory
     where this HTML file is located. To specify a relative path,
     do not start the value with a forward slash.
     =================================================================== -->
<param name="Root Directory" value="games/">

<!-- ===================================================================
     The text VALUE associated with Open Game is displayed in the title
     bar when the user requests to load a new Go file.
     =================================================================== -->
<param name="Open Game Title" value="Select a Professional Game">

<!-- ===================================================================
     Set this VALUE to the name of the file on your web server, including
     the path (relative path is okay), so that JiGo Replayer can find and
     load the file.
     
     Relative path example:

        games/Shusaku/GennanInseki-Shusaku.sgf

     Full path example:

        /jigo/games/Shusaku/GennanInseki-Shusaku.sgf

     The following will NOT work:

        http://sgf.com/games/Shusaku/GennanInseki-Shusaku.sgf
     =================================================================== -->
<param name="Open Game File"
       value="games/Shusaku/GennanInseki-Shusaku.sgf">

<!-- ===================================================================
     Set this VALUE to "true" if the error messages should not be shown.
     =================================================================== -->
<param name="Open Game Suppress Error" value="false">

<!-- ===================================================================
     Set this VALUE to "false" if the Open option for loading games should
     not be available.
     =================================================================== -->
<param name="Open Game Enabled" value="true">

<!-- ===================================================================
     The text VALUE associated with Open Game Failed alert box is
     displayed in the title bar.
     =================================================================== -->
<param name="Open Game Failed Title" value="Error Loading Game">

<!-- ===================================================================
     The text VALUE associated with Open Game is displayed in the title
     bar when the user requests to load a new Go file.
     =================================================================== -->
<param name="Open Game Failed" value="Cannot Open: ">

<!-- ===================================================================
     Even though the applet is only 5x5 pixels (any smaller and some
     browsers may crash), the colour of those 25 pixels should be set
     here to match the theme of the page.  The default is white.
     =================================================================== -->
<param name="Applet Colour" value="#FFFFFF">

<!-- ===================================================================
     When set to "false", the applet appears in its own window. When set
     to "true", the applet appears within the web page. The values for
     the WIDTH and HEIGHT should be changed accordingly.

     "false": WIDTH="5" HEIGHT="5"
     "true" : WIDTH="630" HEIGHT="429"

     =================================================================== -->
<param name="Embed" value="true">

<!-- ===================================================================
     "Stone Width" and "Stone Height" are used to set the width and height
     of a stone, in case plain black and white stones are desired.  This is
     good for creating Go diagrams (or for people with poor vision).

     The sizes are given in pixels, both numbers should be even, and they
     should be roughly equal.  (Since most video modes aren't perfectly
     square, square numbers tend to look rectangular, which suits Go
     perfectly.)

     The size of the board is calculated according to the size of the Go
     stone width and height.  If the next two lines are commented out, and
     no stone images are found, then the size defaults to 20 by 22 pixels.
     =================================================================== -->
<param name="Stone Width" value="20">
<param name="Stone Height" value="22">

<!-- ===================================================================
     By default, stones try to draw an image.  If the image is found, then
     both the Stone Width and Stone Height parameters are ignored.  Instead,
     the width and height of the stone image is used.  When creating new
     images, make sure the width and height of the black and white stones
     are exactly the same.

     Comment out these next two lines if you want plain stones.
     =================================================================== -->
<param name="White Stone" value="images/board/white20x22.gif">
<param name="Black Stone" value="images/board/black20x22.gif">

<!-- ===================================================================
     The board image will be tiled if it is not large enough for a whole
     goban.  If no board image is found (or the line is commented out),
     then the board colour will be used as the background.  If no colour
     is specified, then light gray is the default.

     The Board Colour must be of the hexadecimal form: #RRGGBB
     Note: The author, being Canadian, chooses to spell Colour with a U.

     The default board size is 19, if not specified here.
     =================================================================== -->
<param name="Board Image" value="images/board/woodgrain1.gif">
<param name="Board Colour" value="#CCCCCC">
<param name="Board Size" value="19">
</applet>
